.cellStyles {
    border-color: black;
    background-color: salmon;
    border-style: solid;
    border-width: 1px;
    height:20px;
    width:20px;
    margin: 0px;
    display: inline-flex;
    
}


.rowStyles {
display: flex;
justify-content: space-around;

}

#gridContainer {
    display: inline-block;
}