.cellStyles, .cellBlack {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    height:20px;
    width:20px;
    margin: 0px;
    display: inline-flex;
    
}

.cellBlack {
    background-color: black;
}

.rowStyles {
display: flex;
justify-content: space-around;

}

#gridContainer {
    display: inline-block;
}