.cell-styles {
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.cell-shade {
    background-color: black;
    opacity: 10%;
}

.row-styles {
    display: flex;

}

#test {
    height: 20px;
}

#grid-container {
    width: 600px;
    border-style: solid;
    border-width: 1px
}